@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  /* font-family: "Space Mono", Arial, serif; */
  font-family: "Microsoft YaHei" ! important;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #4d4d4d;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #FF9000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #FF9000;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}
/* 
::-webkit-selection {
  color: #fff;
  background: #FF9000;
}

::-moz-selection {
  color: #fff;
  background: #FF9000;
}

::selection {
  color: #fff;
  background: #FF9000;
} */
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
#resume-header,
.fh5co-cover {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  width: 100%;
}
#resume-header .overlay,
.fh5co-cover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 144, 0, 0.9);
}
#resume-header .display-t,
.fh5co-cover .display-t {
  width: 100%;
  display: table;
}
#resume-header  .display-tc,
.fh5co-cover .display-tc {
  display: table-cell;
  vertical-align: middle;
  height: 600px;
}
#resume-header  .display-tc h1, #resume-header  .display-tc h2, #resume-header  .display-tc h3,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2,
.fh5co-cover .display-tc h3 {
  font-family: "Microsoft YaHei";
  margin: 0;
  padding: 0;
  color: white;
}
#resume-header  .display-tc h1,
.fh5co-cover .display-tc h1 {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 30px;
  font-size: 50px;
  line-height: 1.3;
  font-weight: 300;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#resume-header  .display-tc h1 span,
.fh5co-cover .display-tc h1 span {
  padding: 4px 15px;
  position: relative;
}
#resume-header  .display-tc h1 span:before,
.fh5co-cover .display-tc h1 span:before {
  position: absolute;
  top: 40px;
  left: 0;
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  margin-left: -30px;
}
#resume-header  .display-tc h1 span:after,
.fh5co-cover .display-tc h1 span:after {
  position: absolute;
  top: 40px;
  right: 0;
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  margin-right: -30px;
}
@media screen and (max-width: 768px) {
  #resume-header  .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 34px;
  }
  #resume-header  .display-tc h1 span:before,
  .fh5co-cover .display-tc h1 span:before {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-left: -15px;
  }
  #resume-header  .display-tc h1 span:after,
  .fh5co-cover .display-tc h1 span:after {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-right: -15px;
  }
}
#resume-header  .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#resume-header  .display-tc h3,
.fh5co-cover .display-tc h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #resume-header  .display-tc h3,
  .fh5co-cover .display-tc h3 {
    font-size: 14px;
  }
}
#resume-header  .display-tc .profile-thumb,
.fh5co-cover .display-tc .profile-thumb {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#resume-header  .display-tc .fh5co-social-icons li a,
.fh5co-cover .display-tc .fh5co-social-icons li a {
  color: #fff;
}
#resume-header  .display-tc .fh5co-social-icons li a i,
.fh5co-cover .display-tc .fh5co-social-icons li a i {
  font-size: 30px;
}
/* 没什么用 */

/* #fh5co-features {
  background: #FF9000;
}
#fh5co-features h2 {
  color: #fff;
}
#fh5co-features .services-padding {
  padding: 7em 0;
}
#fh5co-features .feature-left {
  margin-bottom: 40px;
  float: left;
}
@media screen and (max-width: 992px) {
  #fh5co-features .feature-left {
    margin-bottom: 30px;
  }
}
#fh5co-features .feature-left .icon {
  display: table;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-features .feature-left .icon i {
  font-size: 50px;
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  color: #FF9000 !important;
}
#fh5co-features .feature-left .feature-copy {
  width: 100%;
}
#fh5co-features .feature-left h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
#fh5co-features .feature-left p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-features .feature-left p:last-child {
  margin-bottom: 0;
}
#fh5co-features .feature-left p a {
  color: #000 !important;
} */

#about-me,
#fh5co-resume,
#fh5co-skills,
#resume-bottom,
#fh5co-work,
#fh5co-blog,
#fh5co-pricing,
#fh5co-contact {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #about-me,
  #fh5co-resume,
  #fh5co-skills,
  #resume-bottomd,
  #fh5co-work,
  #fh5co-blog,
  #fh5co-pricing,
  #fh5co-contact {
    padding: 3em 0;
  }
}

#resume-bottom {
  border-bottom: none;
}

.resume-bg-dark {
  background: #2F3C4F;
  background: #cccccc;
}
.resume-bg-dark .resume-heading h1,
.resume-bg-dark .resume-heading p {
  color: #000 !important;
}

.info {
  margin: 0;
  padding: 0;
  width: 90%;
  float: left;
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 3em;
  }
}
.info li {
  width: 100%;
  float: left;
  list-style: none;
  padding: 10px 0;
}
.info li:first-child {
  padding-top: 0;
}
.info li .first-block {
  width: 40%;
  display: inline-block;
  float: left;
  color: #000;
  font-weight: bold;
}
.info li .second-block {
  width: 60%;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  font-family: Microsoft YaHei;
}

/* home icon */

.home-icon {
  margin: 0;
  padding: 0;
}
.home-icon li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.home-icon li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #FF9000;
  padding-left: 10px;
  padding-right: 10px;
}
.home-icon li a img {
  width: 20%;
}

#about-me .fh5co-social-icons {
  margin: 0;
  padding: 0;
}
#about-me .fh5co-social-icons li {
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#about-me .fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  background: #2F3C4F;
  padding: 10px 10px 2px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
#about-me .fh5co-social-icons li a i {
  font-size: 20px;
}
#about-me .fh5co-social-icons li a:hover {
  background: #FF9000;
}

.heading {
  margin-bottom: 5em;
}
.heading.heading-sm {
  margin-bottom: 2em;
}
.heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
}
.heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e6e6e6;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading {
    margin-bottom: 30px;
  }
}
.timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .timeline > li {
    margin-bottom: 4em;
  }
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-panel {
    width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -21px;
  background-color: #FF9000;
  z-index: 100;
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
.timeline > li > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
.timeline > li.timeline-unverted {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .timeline > li.timeline-unverted {
    text-align: left;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  font-family: "Microsoft YaHei";
  margin-top: 0;
}

.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #bfbfbf;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
/* 统计图表样式 */
.chart {
  width: 100px;
  height: 100px;
  margin: 0 auto 35px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 60%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.work {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 270px;
  width: 100%;
  display: table;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .work {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .work {
    height: 270px;
  }
}
.work .desc {
  display: table-cell;
  vertical-align: middle;
  height: 270px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work .desc h3 {
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}
.work .desc span {
  display: block;
  color: #999999;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
@media screen and (max-width: 768px) {
  .work .desc {
    opacity: 1;
    background: rgba(255, 255, 255, 0.6);
  }
  .work .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .work .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.work:hover .desc {
  opacity: 1;
}
.work:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.work:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*  */

.fh5co-blog {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog .blog-bg {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-bg {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-blog .blog-bg {
    height: 270px;
  }
}
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 30px;
  float: left;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-text {
    padding: 10px;
  }
}
.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px !important;
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.fh5co-blog .blog-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-text .stuff li {
    font-size: 14px;
  }
}
.fh5co-blog .blog-text .stuff li:first-child {
  margin-left: 0;
}
.fh5co-blog .blog-text .stuff li:last-child {
  float: right;
}
.fh5co-blog .blog-text .stuff li:last-child a {
  color: #000;
}
.fh5co-blog .blog-text .stuff li:last-child i {
  padding-right: 0;
  padding-left: 10px;
}
.fh5co-blog .blog-text .stuff li i {
  font-size: 14px;
  padding-right: 5px;
}
.fh5co-blog .blog-text h3 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.fh5co-blog .blog-text h3 a {
  color: black;
}


.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
  color: #000;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.3);
}
.contact-info li a {
  color: #000;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}
/* */


.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.col-padding {
  padding: 6px !important;
  margin: 0px !important;
}

/* loadding */
.loadding {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loadding.gif) center no-repeat #fff;
}


.js .animate-box {
  opacity: 0;
}

.timeline-body-left{
  text-align: left
}
.overlay{
  background-color: #cccccc !important;
  opacity: 0.85;
}

/* 自我介绍 */
.my-intro{
  font-family: "Microsoft YaHei";
}
/* 技能介绍 */
.skill-list{
  display: flex;
  justify-content: center;
}
.skill-list ul li {
  margin: 12px 0;
  list-style: circle;
}